<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMobile"
        tools:targetApi="31">
        
        <!-- Activity Principal - Dashboard -->
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity de Cadastro Base -->
        <activity
            android:name=".ui.CadastroBaseActivity"
            android:exported="false" />

        <!-- Activity de Setup de Peças -->
        <activity
            android:name=".ui.SetupPecasActivity"
            android:exported="false" />

        <!-- Activity de Detalhes do Projeto -->
        <activity
            android:name=".ui.DetalhesProjetoActivity"
            android:exported="false" />

        <!-- Activity de Oficina Finder -->
        <activity
            android:name=".ui.OficinaFinderActivity"
            android:exported="false" />

        <!-- Activity de Consulta VIN -->
        <activity
            android:name=".ui.ConsultaVinActivity"
            android:exported="false" />
            
    </application>

</manifest>